.elsoutolso{
    background-color: #117302;
}

body{
    background-color: aqua;
}

#masodik{
    margin-left: 10px;
    border-top: dotted 1px black;
    border-bottom: blue dashed 1px;
    border-left: yellow solid 1px;
    border-right: double darkgreen 1px;
}

#harmadik{
    border: 3px red dashed;
    padding: 15px;
}

#negyedik{
    background-image: url('kep4.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
